
 html, body{
     width: 100%;
     height: 100%;
     position: relative;
     
 }
.parallax{
    width: 100%;
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

#cover{
    background-image: url("../img/Death_to_Stock_Equinox_1.jpg") ;
    height: 100%;
}
#box{
    opacity: 0.9;
    position:absolute;
    top: 26%;
    left:15%;
    right: 15%;
    text-align: center;
}
#cover p{
    font-size: 250%;
    font-weight: bolder;
    color: white;
    background-color: dimgray;
}
.btn{
    margin: 2% 5%;
}


/* CV STYLE */

#CV{
    position: relative;
    width: 100%;
    height: 100%;
    
}
#aboutMe{
    position: relative;
    background-image: url("../img/Death_to_Stock_Equinox_3-compressed2.jpg");
    width: 100%;
    height: 200%;
    background-attachment: fixed;
}
#aboutMe div{
    color: white;
    position: absolute;
    top: 18%;
    bottom:25%;
    
}
#aboutMe p{
    font-family: 'Stencil Std';
}
#aboutMe a{
    color: white;
    background-color: transparent;
    margin-top:0;
    font-size:1.2vw;
}
#aboutMe a:hover{
    opacity: 0.5;
}
#myNav{
    position: absolute;
    top:5%;
    z-index: 2;
    opacity: 0.8;
    background-color: #3a3838;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border:none!important;
}
.navbar-nav li a:hover {
    color: lightsalmon !important;
    background-color:gray!important;
    cursor: pointer;
}
.navbar-nav li a {
    color: #fff !important;
}

#profileBox img{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    
}

#profileBox{
    width: 55%;
    /*height: 500px;*/
    position:absolute;
    top: 115%;
    left:22%;
    right:22%;
    z-index: 1;
    
}
#about{
    /*display: table;*/
    width: 100%;
    /*height: 100%;*/
    text-align: center;
    position:absolute;
    top: 50%;
    background-color:#3a3838;
    z-index: -1;
    opacity: 0.9;
    border-radius: 10px;
    padding-top: 80px;
}
#about p {
    color:whitesmoke;
}
#name{
    font-size: 3.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#job{
    font-size: 2vw;
}
.contact>.glyphicon::before{
    padding-right: 10px;
}
#about .contact{
    border: 1px solid white;    
    text-align: left;
    padding: 2% 22%; 
    border-radius: 8px;
}
#about .intro{
    text-align: left;
    margin-top: 2%;
    margin-bottom: 4%;
}
#titleIntro{
    font-size: 2vw;
    font-style: italic;
}

#skillsBG{
    background-image: url("../img/Death_to_Stock_Equinox_11.jpg");
    min-height: 100%;
    position: relative;
    overflow: hidden;
    
}
#skillsBox{
    /*position: absolute;*/
    /*display: table-row;*/
    color: whitesmoke;
    padding-bottom: 20%;
    padding-top: 20%;
}
.skillsTitle{
    font-size: 5vw;
    text-shadow: 3px 3px 10px black;
    font-family: 'Stencil Std';
    font-weight: bold;
}
.skillsTitle2{
    font-size: 3vw;
    text-shadow: 3px 3px 10px black;
}
.skillsTitle span{
    color: lightsalmon;
}
#skills{
    padding: 3% 0;
}
.objects{
    font-size: 120%;
    padding: 2% 0;
}

#hobbies{
    background-color: black;
    padding-bottom: 6%;
    padding-top: 2%;
}

.hobbiesObj{
    padding: 0!important;
    height: 22vw;
    background-size: cover;
    background-position: center;
    color: transparent;
    text-align: center;
}
.hobbiesObj>p{
    position: absolute;
    margin:0;
    left: 1%;
    right: 1%;
    top:40%;
    bottom: 40%;
    font-size: 2.8vw;
    font-family: 'Stencil Std';
    
}
.hobbiesObj:hover{
    opacity: 0.9;
    color:white;
    text-shadow: 3px 3px 5px black;
}

#education{
    background-color: black;
    
    padding-top: 7%;
    padding-bottom: 10%;
}
.carousel-control span {
    background-image: none!important;
    color: transparent;
}
.carousel-control:hover span{
    color: white;
}

.carousel-indicators li {
    border-color: white;
}

.carousel-indicators li.active {
    background-color: chocolate;
}


.item p {
    font-size: 2.8vw;
    color: white;
    line-height: inherit;
    margin: 3% 0 6% 0;
    padding: 2% 0;
    font-weight: bold;
    border-top:7px white double;
    border-bottom:7px white double;

}
.item span{
    font-size: 1.8vw;
    font-style: italic;
    font-weight: normal;
}

#experience{
    background-image: url('../img/Death_to_Stock_Equinox_13.jpg') ;
    /*min-height: 100%;*/
    overflow: hidden;
    background-attachment: fixed;
}
#experienceBox{
    position: relative;
    margin-bottom: 10%;
}
#timeline{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: coral;
    box-shadow: 0 0 2px 0 lightcoral;
    z-index: -1;
}
.rightExp{
    width: 50%;
    float: right;
    padding-left: 4%;
}
.leftExp{
    width: 50%;
    text-align: right;
    padding-right: 4%;
}
.Exp{
    display: inline-block;
    width: 100%;
    height: 30%;
    color: white;
    text-shadow: 2px 2px 2px black;
    position: relative;
    padding: 3% 0;
    visibility:hidden;
}

.timePoint{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: coral;
    box-shadow: 0 0 2px 0 lightcoral;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 25%;
}
.Exp h4{
    margin: 0!important;
    font-weight: bolder;
}
.Exp p{
    font-style: italic;
}
.Exp span{
    color: coral;
    font-weight: bolder;
    font-size: large;
}
footer{
    background-color: black;
    padding: 0.5% 0;
    opacity: 0.9;
}
footer .glyphicon {
    font-size: 20px;
    color: coral;
}

@media (max-width: 768px) { 
    #aboutMe a{
        font-size:2.6vw;
    }

    #box{
        top:20%;
    }
    .btn{
        margin-top:5%;
    }

    #profileBox{
        width: 80%;
        left:10%;
        right:10%;
    }
    #name{
        font-size: 5.5vw;
    }
    #job{
        font-size: 4vw;
    }
    #titleIntro{
        font-size: 4vw;
        font-weight: bold;
    }
    .skillsTitle{
        font-size: 9vw;
    }
    .skillsTitle2{
        font-size: 5vw;
    }
    .hobbiesObj{
        height: 30vw;
    }
    .hobbiesObj>p{
        font-size: 3.8vw;
    }
    .item p{
        font-size: 3.8vw;
    }
    .item span{
        font-size: 2.8vw;
    }
 }

/*FORM*/

.modal-footer{
    padding-top: 0!important;
}
.entry{
    margin-top: 2%;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 20%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
    margin-top: 0;  
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 10px;
}
.checkbox-inline{
    margin-left: 0!important;
}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
    /* Make the element visible */
    visibility: visible; 
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}